<?xml version="1.0"?>
<!--
/**
 * Copyright © Acid Unit (https://acid.7prism.com). All rights reserved.
 * See LICENSE file for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <!-- root menu item -->
        <add id="AcidUnit_Core::acid_menu"
             title="Acid Unit"
             translate="title"
             module="AcidUnit_Core"
             sortOrder="90"
             resource="AcidUnit_Core::acid_menu"
        />

        <!-- general group -->
        <add id="AcidUnit_Core::acid_general"
             title="General"
             translate="title"
             module="AcidUnit_Core"
             sortOrder="10"
             parent="AcidUnit_Core::acid_menu"
             resource="AcidUnit_Core::acid_general"
        />

        <!-- config item -->
        <add id="AcidUnit_Core::acid_config"
             title="Configuration"
             translate="title"
             module="AcidUnit_Core"
             sortOrder="10"
             parent="AcidUnit_Core::acid_general"
             action="admin/system_config/edit/section/acid_config"
             resource="AcidUnit_Core::acid_config"
        />

        <!-- modules group -->
        <add id="AcidUnit_Core::acid_modules"
             title="Modules"
             translate="title"
             module="AcidUnit_Core"
             sortOrder="20"
             parent="AcidUnit_Core::acid_menu"
             resource="AcidUnit_Core::acid_modules"
        />
    </menu>
</config>
